<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=32) }}
            </p>
            <p>{{ form.redact() }}</p>
        </form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages -%}
                    <hr>
                    <h3>Original text:</h3>
                    {{ message.diff|safe }}
                    <hr>
                    <h3>Edited text:</h3>
                    {{ message.text|safe }}
                    <hr>
                    <h3>Description of edits: </h3>
                {%- endfor %}
            {% endif %}
        {% endwith %}
    </body>
</html>