<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.text.label }}<br>
                {{ form.text(size=32) }}
            </p>
            <p>{{ form.redact() }}</p>
        </form>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        {% endif %}
        {% endwith %}
    </body>
</html>